<div *ngIf="activeBook" class="modal is-active">
    <app-book-editor (submitBook)="onSubmitBook($event)" (close)="onClose($event)" [book]="activeBook">
    </app-book-editor>
</div>

<div class="container book-wrapper">
    <div *ngFor="let book of books" (click)="onSelectBook(book)" class="card">
        <div class="card-content">
            <p class="content">The name of the book is {{book.title}}</p>
        </div>
    </div>
</div>

<div class="container">
    <button class="button is-primary" (click)="addNewBook()">Add book</button>
</div>